*{
    box-sizing: border-box;
}

.summary{
    margin: 5rem auto;
    width: 50%;
}

.card-text{
    font-size: 20px;
}

.card-title{
    text-align: center;
    font-weight: bold;
    color: var(--svgbgcolor);
}

img{
    width: 112px; 
    margin-bottom: 25px;
}