*{
    box-sizing: border-box;
}

.summary{
    margin: 5rem auto;
    width: 50%;
}

.cards{
    background-color: rgb(123, 145, 241);
    color: rgb(21, 49, 90);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.summary .card{
    background-color: #ccdbfd;
    color: rgb(21, 49, 90);
    border-left: 8px solid darkblue;
    border-top-left-radius: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0;

    -webkit-animation: slide-from-left 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-from-left 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-from-left{
    0% {
        -webkit-transform: translateX(-5px) rotateY(90deg);
        transform: translateX(-5px) rotateY(90deg);
        -webkit-transform-origin: left center;
        transform-origin: left center;
    }
    100% {
        -webkit-transform: translateX(0) rotateY(0deg);
        transform: translateX(0) rotateY(0deg);
        -webkit-transform-origin: left center;
        transform-origin: left center;
    }
}

@keyframes slide-from-left{
    0% {
        -webkit-transform: translateX(-5px) rotateY(90deg);
        transform: translateX(-5px) rotateY(90deg);
        -webkit-transform-origin: left center;
        transform-origin: left center;
    }
    100% {
        -webkit-transform: translateX(0) rotateY(0deg);
        transform: translateX(0) rotateY(0deg);
        -webkit-transform-origin: left center;
        transform-origin: left center;
    }
}

.card-text{
    font-size: 20px;
}

.card-title{
    text-align: center;
    font-weight: bold;
    color: rgb(44, 2, 73);
}

img{
    width: 112px; 
    margin-bottom: 25px;
}

.project{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.box-1, .box-2, .box-3, .box-4, .box-5{
    display: flex;
    align-items: center;
    width: 45rem;
    margin: 20px 0;
}

.project-details{
    background-color: whitesmoke;
    transition: 0.1s;
    padding: 5px;
    border-radius: 20px;
    transition: 0.5s;
}

.project-details:hover{
    box-shadow: 10px 10px 20px #6c757d !important;
}

.project-details > h4{
    text-align: center;
}

.project-details > h5{
    text-align: justify;
}

.project-details > h4 > a{
    color: rgb(44, 2, 73);
    font-weight: bold;
    text-decoration: none;
}

.tech-list > li{
    color: whitesmoke;
    font-weight: 500;
    margin: 5px;
    border-radius: 50px;
}

.card-1 > .tech-list > li{
    background-color: springgreen;    
}

.card-2 > .tech-list > li{
    background-color: rgb(140, 154, 235);
}

.card-3 > .tech-list > li{
    background-color: tomato;
}

.card-4 > .tech-list > li{
    background-color: purple;
}

.card-5 > .tech-list > li{
    background-color: crimson;
}

.tech-list {
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0;
}